<!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy">
   <a href="https://github.com/lab0x0/lab0x0.com" class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">

      <!-- <div class="t-tildalabel__txtleft">Made on </div>
      <div class="t-tildalabel__wrapimg"><img src="{{ .Site.BaseURL }}images/tildacopy.png" class="t-tildalabel__img"></div>
      <div class="t-tildalabel__txtright">Tilda</div> -->

       <div class="t-tildalabel__txtright" style="text-align: center;font-family: monospace;"><img src="{{ .Site.BaseURL }}images/tilda/cc.png" align="middle" style=" width: 30px; padding-right: 4px;"><span style=" vertical-align: sub;color: white;">0x7E1</span></div> 
    </div>
  </a> 
</div>
</body>

</html>