<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>{{ .Site.Title }}</title>

  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Site.Params.subtitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.OgImage }}" />
  <meta property="fb:app_id" content="{{ .Site.Params.fbAppID }}" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="{{ .Site.Params.subtitle }}" />
  <link rel="canonical" href="{{ .Site.BaseURL }}">
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/tilda/tildafavicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/tilda/tilda-grid-3.0.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/tilda/tilda-blocks-2.12.css?t=1501284283" type="text/css" media="all"
  />  
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/tilda/tilda-slds-1.4.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/tilda/tilda-zoom-1.0.min.css" type="text/css" media="all" />  
  {{ partial "css" . }}

  <script src="{{ .Site.BaseURL }}js/tilda/jquery-1.10.2.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/tilda/tilda-scripts-2.8.min.js"></script>  
  <script src="{{ .Site.BaseURL }}js/tilda/tilda-blocks-2.6.js?t=1501284283"></script>
  <script src="{{ .Site.BaseURL }}js/tilda/typed.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/tilda/tilda-slds-1.4.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/tilda/hammer.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/tilda/lazyload-1.3.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/tilda/tilda-zoom-1.0.min.js"></script>
  {{ partial "js" . }} 
</head>

<body class="t-body" style="margin:0;">