.t521__rightcol.t-col.t-col_6 h2{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;
    margin-bottom: 10px;
} 

.t521__rightcol.t-col.t-col_6 p{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.65;
} 


.t521__rightcol, .t521__leftcol {
    margin-top: 45px;
    margin-bottom: 0px;
}

@media screen and (max-width: 520px) {

    .t681__pricewrapper {
        text-align: center !important;
    }

}

@media screen and (max-width:960px) {

    #rec25351922 .t-container {
        max-width: 640px;
        text-align: center;
    }

    #rec27825054 .t-container, #rec27826554 .t-container, #rec27815872 .t-container, #rec27823778 .t-container, #rec27917992 .t-container, #rec28169108 .t-container{
        max-width: 40%;
    }

    #rec27917992 .t-container{
        max-width: 30%;
    }

    #rec27825248 .t-container, #rec27798742 .t-container, #rec27798770 .t-container{
        max-width: 60%;
    }
}