<div id="rec28164606" class="r" style="padding-top:45px;padding-bottom:100px; ">

    <!-- t493 -->
    <div class="t493">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs " field="btitle">为您的业务使用空间<br>Use our space for your business</div>
                </div>
            </div>
        </div>
         <div class="t493__container t-container">
            <div class="t493__flex-wrapper">
                <div class="t493__box-img-mobile t-col">
                    <div class="t493__tablewrapper">
                        <div class="t493__cell t-cell">
                            <img class="t493__img t-margin_auto t-img" src="https://static.tildacdn.com/tild3534-3830-4134-b735-333864353963/IMG_3731.JPG"
                                imgfiled="img5">
                        </div>
                    </div>
                </div>
                <div class="t493__box-text t-col t-col_flex t-valign_middle t-col_6 ">
                    <div class="t493__tablewrapper">
                        <div class="t493__cell t-cell">

                            <div class="t493__item t-item ">
                                <div class="t-cell t-valign_top">
                                    <div class="t493__bgimg  t-bgimg" bgimgfield="img" data-original="https://static.tildacdn.com/tild6262-3335-4133-b561-336565306336/noun_1097780_cc.png"
                                        style=" background-image: url('https://static.tildacdn.com/tild6262-3335-4133-b561-336565306336/noun_1097780_cc.png');"
                                        data-tu-max-width="300" data-tu-max-height="300" id="tuwidget338603"></div>

                                    <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;"></div>
                                <div class="t493__textwrapper t-cell t-valign_top">
                                    <div class="t493__heading t-heading t-heading_sm  " style="" field="title">
                                        Open Space Zone 2</div>
                                    <div class="t493__descr t-descr t-descr_xs " style="" field="descr">
                                        In this zone you can use projector. It can be use for 8-16 people presentations. </br></br>Price: <u>400 RMB</u> for a half Saturday or Sunday (<u>600 RMB</u> for a full day)</div>
                                </div>
                            </div>
                            <div class="t493__item t493__item_padding-top t-item ">
                                <div class="t-cell t-valign_top">
                                    <div class="t493__bgimg  t-bgimg" bgimgfield="img2" data-original="https://static.tildacdn.com/tild3536-3631-4364-b739-326639313630/noun_642103_cc.png"
                                        style=" background-image: url('https://static.tildacdn.com/tild3536-3631-4364-b739-326639313630/noun_642103_cc.png');"
                                        data-tu-max-width="300" data-tu-max-height="300" id="tuwidget277729"></div>
                                    <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;"></div>
                                <div class="t493__textwrapper t-cell t-valign_top">
                                    <div class="t493__heading t-heading t-heading_sm " style="" field="title2">
                                        Studying Room</div>
                                    <div class="t493__descr t-descr t-descr_xs " style="" field="descr2">
                                        Good for 6-12 people workshops. We use it a lot for weekend's kids education workshops.  </br></br>Price: <u>400 RMB</u> for a half Saturday or Sunday (<u>600 RMB</u> for a full day) or <u>5500 RMB</u> per month.</div>
                                </div>
                            </div>
                            <div class="t493__item t493__item_padding-top t-item ">
                                <div class="t-cell t-valign_top">
                                    <div class="t493__bgimg  t-bgimg" bgimgfield="img3" data-original="https://static.tildacdn.com/tild3034-3563-4830-b235-613737616162/noun_1068329_cc.png"
                                        style=" background-image: url('https://static.tildacdn.com/tild3034-3563-4830-b235-613737616162/noun_1068329_cc.png');"
                                        data-tu-max-width="300" data-tu-max-height="300" id="tuwidget893341"></div>
                                    <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;"></div>
                                <div class="t493__textwrapper t-cell t-valign_top">
                                    <div class="t493__heading t-heading t-heading_sm " style="" field="title3">
                                        Small Room</div>
                                    <div class="t493__descr t-descr t-descr_xs " style="" field="descr3">
                                        Will be ideal for 3-4 people company startup. It has door with lock, It will be your's team private spot in makerspace.  </br></br> Price: <u>3000 RMB</u> per month.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t493__box-img t-col t-col_flex t-valign_middle t-col_6 ">
                    <div class="t493__tablewrapper">
                        <div class="t493__cell t-cell">
                            <img class="t493__img t-img " src="https://static.tildacdn.com/tild3534-3830-4134-b735-333864353963/IMG_3731.JPG" imgfield="img5"
                                id="tuwidget525114" style="opacity: 1;">
                            <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;"></div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div id="rec28149656" class="r" style="padding-top:0px;padding-bottom:45px; " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">
            <div class="t-col t-col_8 t-prefix_2 t-align_center"> <img class="t196__img t-img" src="images/plan-empty.png" data-original="images/plan.jpg" imgfield="img" />
                <meta itemprop="image" content="images/plan.jpg"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>

<div id="rec25354794" class="r" style=" " data-record-type="126">
    <!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>