<div id="rec28149824" class="r" style="padding-top:60px;padding-bottom:15px; " data-record-type="66">
    <!-- T058 -->
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:42px;line-height:50px;" data-customstyle="yes"><span style="font-weight: 600;">为您的业务使用空间<br />Use our space for your business</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec25357238" class="r" style="padding-top:30px;padding-bottom:30px; " data-record-type="106">
    <!-- T004 -->
    <div class="t004">
        <div class="t-container ">
            <div class="t-col t-col_8 t-prefix_2">
                <div field="text" class="t-text t-text_md  "><span style="font-weight: 600;">Open Space Zone 2</span><br />In this zone you can use projector. It can
                    be use for 8-16 people presentations.<br /><br /><span style="font-weight: 600;">Studying Room</span><br
                    />Good for 6-12 people workshops. We use it a lot for weekend's kids education workshops.<br /><br />
                    <span
                        style="font-weight: 600;">Small Room</span><br />Will be ideal for 3-5 people company startup. It has door with look, It will be
                        your's team private spot in makerspace.<br /><br /></div>
            </div>
        </div>
    </div>
</div>
<div id="rec28149656" class="r" style="padding-top:0px;padding-bottom:75px; " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">
            <div class="t-col t-col_8 t-prefix_2 t-align_center"> <img class="t196__img t-img" src="images/plan-empty.png" data-original="images/plan.png" imgfield="img" />
                <meta itemprop="image" content="images/plan.png"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>