<div id="rec27571564" class="r" style="padding-top:45px;padding-bottom:30px;background-color:#cbfa91; " data-record-type="474"
    data-bg-color="#cbfa91">
    <!-- T474 -->

    <div class="t474">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#525252;font-size:22px;">零空间是非营利创客社区。没有老板。<br />如果你想要帮助我们维持空间的运作，欢迎加入我们<br /></div>
            </div>
        </div>
    </div>

</div>


<div id="rec27808996" class="r" style="background-color:#cbfa91; " data-record-type="191" data-bg-color="#cbfa91">
    <!-- T142 -->
    <div class="t142">
        <div class="t-container_100">
            <div class="t142__wrapone">
                <div class="t142__wraptwo">
                    <a href="#help" target="">
                        <div class="t-btn t142__submit t142__submit_size_xl" style="color:#fcf9f9;border:3px solid #000000;background-color:#000000;">怎么帮助? / How to help?</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            t142_checkSize('27808996');
        });

    </script>


</div>


<div id="rec27915780" class="r" style="padding-top:30px;padding-bottom:45px;background-color:#cbfa91; " data-record-type="474"
    data-bg-color="#cbfa91">
    <!-- T474 -->

    <div class="t474">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#525252;font-size:22px;"><span style="font-weight: 300;">LAB ZERO is non-profit makers community.There's no boss. <br />If want to help us keep the space running, just join us</span></div>
            </div>
        </div>
    </div>

</div>