<div id="rec25318690" class="r" style=" " data-animationappear="off" data-record-type="635">
    <!-- T635 -->
    <div class="t635__textholder" data-recid="25324016" data-text1="electronics" data-text2="build apps" data-text3="share ideas"
        data-text4="help each other" data-text5="Shenzhen"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                t635_init('25318690');
            }, 500);
        });
    </script>
    <style>
        #rec25324016 .t635__typing-text {
            color: #ffffff;
        }

        #rec25324016 .typed-cursor {
            color: #ffffff;
        }
    </style>
</div>


<div id="rec25324016" class="r" style=" " data-animationappear="off" data-record-type="244">
    <!-- cover -->
    <div class="t-cover" id="recorddiv25324016" bgimgfield="img" style="height:100vh; background-image:url('images/tild3431-6336-4565-b665-376335346639__-__resize__20x__shutterstock_256309363_.jpg');">

        <div class="t-cover__carrier" id="coverCarry25324016" data-content-cover-id="25324016" data-content-cover-bg="images/tild3431-6336-4565-b665-376335346639__shutterstock_256309363_.jpg"
            data-content-cover-height="100vh" data-content-cover-parallax="" style="background-image:url('');height:100vh;background-attachment:scroll; "></div>

        <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f000000', endColorstr='#7f000000');"></div>

        <div class="t-container">
            <div class="t-col t-col_12 ">
                <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
                    <div class="t216 t-align_center">
                        <div data-hook-content="covercontent">
                            <div class="t216__wrapper">
                                <div class="t216__blocklogo "><img src="images/tild3739-3863-4033-b062-616365306337__-__empty__labzerologov2.png" data-original="images/tild3739-3863-4033-b062-616365306337__labzerologov2.png"
                                        data-tu-max-width="800" data-tu-max-height="800" class="t216__logo t-img" imgfield="img2"
                                        data-hook-clogo="coverlogo"></div>
                                <div class="t216__title t-title t-title_xl " style="" field="title">
                                    <div style="font-size:46px;line-height:46px;color:#ffffff;" data-customstyle="yes">We love |</div>
                                </div>
                                <div class="t216__descr t-descr t-descr_xl t216__descr_center " style="" field="descr">创客空间 真的<br />The only one a real true makerspace in Shenzhen</div> <span class="space"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>