
<div id="rec27918718" class="r" style="padding-top:120px;background-color:#000; " data-record-type="474" data-bg-color="#000">
  <div class="t474">
    <div class="t-container t-align_center">
      <div class="t-col t-col_10 t-prefix_1">
        <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#ffffff;font-size:22px;">
          <div style="font-size:46px;" data-customstyle="yes"><span style="font-weight: 600;">Friday Open Nights</span></div>
        </div>
      </div>
    </div>
  </div>
</div>


{{ $paginator := .Paginate (where .Data.Pages "Type" "events") }} 
  {{ range $paginator.Pages.ByDate }}


<div id="rec25351922" class="r" style="padding-bottom:0px;background-color:#000; " data-record-type="521" data-bg-color="#000">
  <div class="t521">
    <div class="t-container">

      <div class="t521__row t-row t-clear">
        <div class="t521__leftcol t-col t-col_3 t-prefix_3">
          <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
            <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">

               {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 1 $cols)}}
              <div class="date">
                {{ . | markdownify }}
              </div>
              {{ end }} 

            </div>
          </div>
        </div>
        <div class="t521__rightcol t-col t-col_5 ">
          <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
            <div style="font-size:20px;font-weight: 600;" data-customstyle="yes">

              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 2 $cols)}}
                {{ . | markdownify }}
              {{ end }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="rec25351922" class="r" style="padding-top:0px;padding-bottom:30px;background-color:#000; " data-record-type="521" data-bg-color="#000">
  <div class="t521">
    <div class="t-container">
      <div class="t521__row t-row t-clear">
        <div class="t521__leftcol t-col t-col_3 t-prefix_3">
          <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
            <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">
            
            
              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 3 $cols)}}
                {{ . | markdownify }}
              {{ end }}  


            </div>
          </div>
        </div>
        <div class="t521__rightcol t-col t-col_5 desc ">
          <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
              <div>  
              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 4 $cols)}}
                {{ . | markdownify }}
              {{ end }}  
              </div>  
          </div>
        </div>
      </div>
      </div>
  </div>
</div>          


<div id="rec29066688" class="r" style="padding-top:15px;background-color:#000; " data-record-type="147">
  <div class="t214">
    <div class="t-container">
      <div class="t-row">

        <div class="t-col t-col_8 t-prefix_3" style="margin-bottom:20px;">
          <div class="t214__blockimg t-bgimg"
            style="background: url('/images/events/10609502485_5590c6eac9_z.jpg') center center no-repeat; background-size:cover;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="rec29089546" class="r" style="padding-top:15px;padding-bottom:45px;background-color:#000000; " data-record-type="558"
  data-bg-color="#000000">
  <div class="t558">
    <div class="t558__container t-container">
      <div class="t558__col t-col t-col_7 t-prefix_3">
        <div class="t-cell t-valign_top" style="padding-left: 55px;">
          <div class="t558__bgimg t-bgimg"
            style=" background-image: url('/images/events/9N0A3111.jpg');">
            <div class="t558__bubble-tail" style=""></div>
          </div>
        </div>
        <div class="t558__cell t-cell t-valign_top">
          <div class="t558__bubble t558__bubble_left" style=" ">
            <div class="t558__name t-name t-name_xs" field="li_title__1478014691630" style=" ">
              Sarah Lee</div>
            <div class="t528__descr t-descr t-descr_xxs" field="li_descr__1478014691630" style=" ">
              Manager in Tencent</a></div>
            <div class="t558__text t-text t-text_xs" field="li_text__1478014691630"
              style=" ">Thanks Guys you are awesome! I like the space and people!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="rec29066689" class="r" style="padding-top:0px;background-color:#000; " data-record-type="147">
  <div class="t214">
    <div class="t-container">
      <div class="t-row">

        <div class="t-col t-col_2 t-prefix_3 extended" style="margin-bottom:20px;">
          <div class="t214__blockimg second-row t-bgimg"
            style="background: url('/images/events/10609515525_957a454691_z.jpg') center center no-repeat; background-size:cover;">
          </div>
        </div>

        <div class="t-col t-col_2 extended" style="margin-bottom:20px;">
          <div class="t214__blockimg second-row t-bgimg"
            style="background: url('/images/events/10609530984_cc767befd9_z.jpg') center center no-repeat; background-size:cover;">
          </div>
        </div>

         <div class="t-col t-col_2 extended" style="margin-bottom:20px;">
          <div class="t214__blockimg second-row t-bgimg"
            style="background: url('/images/events/10609527174_7af8481644_z.jpg') center center no-repeat; background-size:cover;">
          </div>
        </div> 

         <div class="t-col t-col_2 extended" style="margin-bottom:20px;">
          <div class="t214__blockimg second-row t-bgimg"
            style="background: url('/images/events/10609551516_1c76c7d69f_z.jpg') center center no-repeat; background-size:cover;">
          </div>
        </div> 

      </div>
    </div>
  </div>
</div>


{{ end }}

<!-- {{ if gt $paginator.TotalPages 1 }}
<div class="row ">
    <ul class="pagination">
      {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
          {{ if $paginator.HasPrev }}
            <li class="page-item">
              <a class="page-link" rel="prev" href="{{$paginator.Prev.URL}}">
                  « Previous
              </a>
            </li>
          {{ end }}
          {{ if $paginator.HasNext }}
            <li class="page-item">
              <a class="page-link" rel="next" href="{{$paginator.Next.URL}}">
                  Next »
              </a>
            </li>
          {{ end }}
      {{ end }}
    </ul>
</div>
{{ end }} -->

  <div id="rec27913970" class="r" style="background-color:#000; " data-record-type="126">
  <div class="t118">
    <div class="t-container">
      <div class="t-col t-col_12 ">
        <hr class="t118__line" style="background-color:#ffffff;opacity:1;">
      </div>
    </div>
  </div>
</div>  


 <div id="rec27915576" class="r" style="padding-top:30px;padding-bottom:100px;background-color:#000; " data-record-type="474">
  <div class="t474">
    <div class="t-container t-align_center" style="text-align: left!important;">
      <div class="t-col t-col_8 t-prefix_3">
        <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#ffffff;font-size:22px;">
          <div style="font-size:18px;color:#ffffff;" data-customstyle="yes"><span style="font-weight: 400;">— Can I run an event at LAB ZERO? <br />— Yes, every week we have Open Friday Night from 19:00 to 21:00  <br /><br /> If you are a maker, and would like to teach people how to build something, <br />you can share your project on Open Friday Night. Please contact us.</span><br
            /></div>
        </div>
      </div>
    </div>
  </div>
</div> 

