
<div id="rec27918718" class="r" style="padding-top:60px;background-color:#000; " data-record-type="474" data-bg-color="#000">
  <div class="t474">
    <div class="t-container t-align_center">
      <div class="t-col t-col_10 t-prefix_1">
        <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#ffffff;font-size:22px;">
          <div style="font-size:46px;" data-customstyle="yes"><span style="font-weight: 600;">Friday Open Nights</span></div>
        </div>
      </div>
    </div>
  </div>
</div>


{{ $paginator := .Paginate (where .Data.Pages "Type" "events") }} 
  {{ range $paginator.Pages.ByDate }}


<div id="rec25351922" class="r" style="padding-bottom:0px;background-color:#000; " data-record-type="521" data-bg-color="#000">
  <div class="t521">
    <div class="t-container">

      <div class="t521__row t-row t-clear">
        <div class="t521__leftcol t-col t-col_3 t-prefix_3">
          <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
            <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">

               {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 1 $cols)}}
              <div class="date">
                {{ . | markdownify }}
              </div>
              {{ end }} 

            </div>
          </div>
        </div>
        <div class="t521__rightcol t-col t-col_5 ">
          <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
            <div style="font-size:20px;font-weight: 600;" data-customstyle="yes">

              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 2 $cols)}}
                {{ . | markdownify }}
              {{ end }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="rec25351922" class="r" style="padding-top:0px;padding-bottom:45px;background-color:#000; " data-record-type="521" data-bg-color="#000">
  <div class="t521">
    <div class="t-container">
      <div class="t521__row t-row t-clear">
        <div class="t521__leftcol t-col t-col_3 t-prefix_3">
          <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
            <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">
            
            
              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 3 $cols)}}
                {{ . | markdownify }}
              {{ end }}  


            </div>
          </div>
        </div>
        <div class="t521__rightcol t-col t-col_5 desc ">
          <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
              <div>  
              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 4 $cols)}}
                {{ . | markdownify }}
              {{ end }}  
              </div>  
          </div>
        </div>
      </div>
      </div>
  </div>
</div>          

{{ end }}


{{ if gt $paginator.TotalPages 1 }}
<div class="row ">
    <ul class="pagination">
      {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
          {{ if $paginator.HasPrev }}
            <li class="page-item">
              <a class="page-link" rel="prev" href="{{$paginator.Prev.URL}}">
                  « Previous
              </a>
            </li>
          {{ end }}
          {{ if $paginator.HasNext }}
            <li class="page-item">
              <a class="page-link" rel="next" href="{{$paginator.Next.URL}}">
                  Next »
              </a>
            </li>
          {{ end }}
      {{ end }}
    </ul>
</div>
{{ end }}