<div id="rec27085190" class="r" style="padding-bottom:60px; " data-record-type="92">
  <!-- T081 -->
  <div class="t081">
    <div class="t-container t-align_center">
      <div class="t081__col t-width t-width_6">
        <img class="t081__img t-img" src="https://static.tildacdn.com/tild6435-6630-4436-a139-393062663832/-/empty/lab0x0smallcircleen.png"
          data-original="https://static.tildacdn.com/tild6435-6630-4436-a139-393062663832/lab0x0smallcircleen.png" imgfield="img"
          data-tu-max-width="300" data-tu-max-height="300" data-tu-cover="c">
        <div class="t081__title t-name t-name_xl" field="title"><span style="font-weight: 300;"><a href="https://github.com/lab0x0" style="">OPEN SOURCE<br /></a></span><span style="font-weight: 300;"><a href="https://github.com/lab0x0"><u>github.com/lab0x0</u></a></span></div>
      </div>
    </div>
  </div>
</div>