<div id="rec27085190" class="r" style="padding-bottom:60px; " data-record-type="92">
  <!-- T081 -->
  <div class="t081">
    <div class="t-container t-align_center">
      <div class="t081__col t-width t-width_6">
        <a href="https://github.com/lab0x0">
        <img class="t081__img t-img" src="images/empty-small-logo.png" data-original="images/small-logo.png"
          imgfield="img" data-tu-max-width="300" data-tu-max-height="300" data-tu-cover="c" style="max-width: 100px; max-height: 100px;">
        </a>
        <div class="t081__title t-name t-name_xl" field="title"><span style="font-weight: 300;"><a href="https://github.com/lab0x0" style="">OPEN SOURCE<br /></a></span>
          <span style="font-weight: 300;">
              <a href="https://github.com/lab0x0">
                <u>github.com/lab0x0</u>
              </a>
              </span>
        </div>
      </div>
    </div>
  </div>
</div>