<div id="rec27809311" class="r" style=" " data-record-type="215">
    <a name="help" style="font-size:0;"></a>
</div>

<div id="rec27798524" class="r" style="padding-top:150px;padding-bottom:150px;background-color:#000000; " data-record-type="60"
    data-bg-color="#000000">
    <!-- T050 -->
    <div class="t050">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t050__title t-title t-title_xxl" field="title" style="">
                    <div style="font-size:46px;color:#ffffff;" data-customstyle="yes">怎么帮助零空间？<br />How to help LAB ZERO?</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rec27806368" class="r" style="padding-top:100px;padding-bottom:30px; " data-record-type="510">
    <!-- t510 -->
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">1</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">微信海报 / WeChat poster<br /> </div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">分享到朋友圈还有发送给你的朋友<br />Share it in Wechat Moments and send to your friends</div>
                </div>
            </div>
        </div>



    </div>
</div>


<div id="rec27825318" class="r" style=" " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">

            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="images/empty-poster-file.png" data-original="images/poster-file.png"
                    imgfield="img" />
                <meta itemprop="image" content="images/poster-file.png"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>


<div id="rec27798580" class="r" style="padding-top:5px; " data-record-type="430">
    <!-- T430 -->

    <div class="t430">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t430__wrapone">
                    <div class="t430__wraptwo">
                        <a class="t430__link" href="images/poster.jpg" target="_blank">
                            <div class="t-btn " style="color:#ffffff;background-color:#000000;">
                                <div class="t430__btn-img-wrapper">
                                    <svg class="t430__btn-img t430__inlinesvg" style="" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 56 68" fill="#FFFFFF">
                                        <path class="st0" d="M16 0h24v24h16L28 52 0 24h16zM0 60h56v8H0z" />
                                    </svg>
                                </div>
                                <div class="t430__btn-text">下载 / Download</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="rec27806786" class="r" style="padding-top:100px;padding-bottom:30px; " data-record-type="510">
    <!-- t510 -->
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">2</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">网站链接 / Site link</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">发送网站链接到你的朋友<br />Send the link to your friends</div>
                </div>
            </div>
        </div>



    </div>
</div>


<div id="rec27798592" class="r" style=" " data-record-type="474">
    <!-- T474 -->

    <div class="t474">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#525252;font-size:22px;">
                    <div style="font-size:46px;" data-customstyle="yes">
                        <u><a href="http://lab0x0.com" style="" data-redactor-tag="a">lab0x0.com</a></u>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="rec27825248" class="r" style=" " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">

            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="images/empty-site.png" data-original="images/site.jpg"
                    imgfield="img" />
                <meta itemprop="image" content="images/site.jpg"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>


<div id="rec27809996" class="r" style="padding-top:80px;padding-bottom:30px; " data-record-type="510">
    <!-- t510 -->
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">3</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">图片横幅 / Userpic banner</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">在您的微信帐户中加横幅 <br />Place the banner on your WeChat userpic<br /></div>
                </div>
            </div>
        </div>



    </div>
</div>


<div id="rec27798742" class="r" style=" " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">

            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="images/empty-banner-photoshop.png" data-original="images/banner-photoshop.png"
                    imgfield="img" />
                <meta itemprop="image" content="images/banner-photoshop.png"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>


<div id="rec27917992" class="r" style=" " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">

            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="images/empty-userpic.png" data-original="images/userpic.png"
                    imgfield="img" />
                <meta itemprop="image" content="images/userpic.png"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>


<div id="rec27824524" class="r" style=" " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">

            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="images/empty-banner-file.png" data-original="images/banner-file.png"
                    imgfield="img" />
                <meta itemprop="image" content="images/banner-file.png"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>


<div id="rec27810626" class="r" style="padding-top:15px; " data-record-type="430">
    <!-- T430 -->

    <div class="t430">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t430__wrapone">
                    <div class="t430__wraptwo">
                        <a class="t430__link" href="images/banner.png" target="_blank">
                            <div class="t-btn " style="color:#ffffff;background-color:#000000;">
                                <div class="t430__btn-img-wrapper">
                                    <svg class="t430__btn-img t430__inlinesvg" style="" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 56 68" fill="#FFFFFF">
                                        <path class="st0" d="M16 0h24v24h16L28 52 0 24h16zM0 60h56v8H0z" />
                                    </svg>
                                </div>
                                <div class="t430__btn-text">下载 / Download</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="rec27810830" class="r" style="padding-top:100px;padding-bottom:30px; " data-record-type="510">
    <!-- t510 -->
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">4</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">贴纸和传单 / Stickers and leaflets</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">Come to LAB ZERO, grab stickers, leaflets and give it to your friends<br />来LAB ZERO吧，拿贴纸，传单给你的朋友<br
                        /></div>
                </div>
            </div>
        </div>



    </div>
</div>


<div id="rec27798770" class="r" style=" " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">

            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="images/empty-stickers.png"
                    data-original="images/stickers.jpg" imgfield="img"
                />
                <meta itemprop="image" content="images/stickers.jpg"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>


 <div id="rec27811738" class="r" style="padding-top:90px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">5</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">秘密微信团 / Secret WeChat group</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">请扫一扫，发送请求，我们会邀请你。添加你的朋友<br />Please scan QR, send a request, we will add you. Add your friends<br /></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27815872" class="r" style=" " data-record-type="224">
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">

            <div class="t-col t-col_3 t-prefix_5 t-align_center">
                <img class="t196__img t-img" src="images/empty-wxtuan.png" data-original="images/secret-wxtuan.jpg"
                    imgfield="img" />
                <meta itemprop="image" content="images/secret-wxtuan.jpg"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div> 


<div id="rec27915850" class="r" style="padding-top:80px;padding-bottom:30px; " data-record-type="510">
    <!-- t510 -->
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">6</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">加入我们 / Join us</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">成为会员或者帮助我们维持空间的运作<br />Become a member or join our team<br /></div>
                </div>
            </div>
        </div>



    </div>
</div>


<div id="rec27915860" class="r" style="padding-top:5px;padding-bottom:0px; " data-record-type="66">
    <!-- T058 -->
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_6 t-prefix_3">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:20px;line-height:30px;" data-customstyle="yes">我们有以下
                            <a href="https://github.com/lab0x0/lab0x0.com/wiki/Staff" style="">
                                <u data-redactor-tag="u">空缺</u>
                            </a>：<br />空间经理，活动管理员，赞助经理<br />We have the following
                            <a href="https://github.com/lab0x0/lab0x0.com/wiki/Staff"
                                style="">
                                <u data-redactor-tag="u">
                                    <del style=""></del>vacancies</u>
                            </a>: <br />Space Manager, Event Manager, <br />Sponsorship Manager<br /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="rec27809311" class="r" style=" " data-record-type="215">
    <a name="donate" style="font-size:0;"></a>
</div>


<div id="rec27811746" class="r" style="padding-top:80px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">7</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">捐赠或成为赞助商 / Donate or become a sponsor</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">捐赠我们钱，设备或只是你的时间<br />Donate us money, equipment or just you time<br /></div>
                </div>
            </div>
        </div>



    </div>
</div>


<div id="rec27823778" class="r" style="padding-bottom:0px;" data-record-type="224">
        <div class="t196">
            <div class="t-container">
                <div class="t-col t-col_2 t-prefix_4 t-align_center">
                    <div style="font-size:20px;line-height:30px; font-family: 'Open Sans',serif;">
                        捐赠微信支付</br> WeChat
                    </div>                
                    <img class="t196__img t-img" src="/images/wx-zhifu.jpg" />
                </div>
                <div class="t-col t-col_2 t-align_center">
                    <div style="font-size:20px;line-height:30px; font-family: 'Open Sans',serif;">
                        捐赠支付宝</br> Alipay
                    </div>                       
                        <img class="t196__img t-img" src="/images/alipay.jpg" />
                </div>            
            </div>
        </div>
    </div>
    
    
    
    <div id="rec27823916" class="r" style="padding-top:30px;padding-bottom:60px; " data-record-type="66">
        <div class="t058">
            <div class="t-container">
                <div class="t-row">
                    <div class="t-col t-col_6 t-prefix_3">
                        <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                            <div style="font-size:20px;line-height:30px;" data-customstyle="yes">请看一下我们的
                                <a href="https://github.com/lab0x0/lab0x0.com/wiki/Wish-list">
                                    <u>愿望清单</u>
                                </a><br />Look at our
                                <a href="https://github.com/lab0x0/lab0x0.com/wiki/Wish-list" style="font-size: 20px; line-height:30px;">
                                    <u>Wish List</u>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>