<div id="rec25337578" class="r" style=" " data-record-type="126">
    <!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>


<div id="rec25354022" class="r" style="padding-top:105px;padding-bottom:105px; " data-record-type="594">
    <!-- t594 -->
    <div class="t594">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs " field="btitle">完整的名单创客空间在深圳<br /><span style="font-weight: 500;">List of spaces for makers in Shenzhen<br /></span></div>
                    <div class="t-section__descr t-descr t-descr_xl t-margin_auto " field="bdescr">
                        <u><a href="/makers-list" style="" rel="" data-redactor-tag="a">阅读更多 </a><span style="font-weight: 400;"><a href="/makers-list">/ Read more</a></span></u>
                    </div>
                </div>
            </div>
        </div>

        <div class="t594__container t-container">
            <div class="t-col t594__item t594__item_5-in-row">

                <img src="https://static.tildacdn.com/tild3962-6235-4361-b535-643038646330/-/empty/20.jpg" data-original="https://static.tildacdn.com/tild3962-6235-4361-b535-643038646330/20.jpg"
                    class="t594__img t-img " imgfield="li_img__1481203544538" style="max-width:160px;" />
            </div>

            <div class="t-col t594__item t594__item_5-in-row">

                <img src="https://static.tildacdn.com/tild3865-6137-4365-b438-393534366466/-/empty/21.jpg" data-original="https://static.tildacdn.com/tild3865-6137-4365-b438-393534366466/21.jpg"
                    class="t594__img t-img " imgfield="li_img__1481205129244" style="max-width:160px;" />
            </div>

            <div class="t-col t594__item t594__item_5-in-row">

                <img src="https://static.tildacdn.com/tild3362-3132-4563-a261-633639373930/-/empty/blob.png" data-original="https://static.tildacdn.com/tild3362-3132-4563-a261-633639373930/blob.png"
                    class="t594__img t-img " imgfield="li_img__1481205877302" style="max-width:160px;" />
            </div>

            <div class="t-col t594__item t594__item_5-in-row">

                <img src="https://static.tildacdn.com/tild6132-3663-4631-b230-353635316432/-/empty/blob.png" data-original="https://static.tildacdn.com/tild6132-3663-4631-b230-353635316432/blob.png"
                    class="t594__img t-img " imgfield="li_img__1481205879887" style="max-width:160px;" />
            </div>

            <div class="t-col t594__item t594__item_5-in-row">

                <img src="https://static.tildacdn.com/tild3861-6330-4137-b664-653130616331/-/empty/15.jpg" data-original="https://static.tildacdn.com/tild3861-6330-4137-b664-653130616331/15.jpg"
                    class="t594__img t-img " imgfield="li_img__1481205139575" style="max-width:160px;" />
            </div>

        </div>



    </div>
</div>