<div id="rec28031224" class="r" style="padding-top:45px;padding-bottom:15px; " data-record-type="66">
    <!-- T058 -->
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_6 t-prefix_3">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:30px;line-height:34px;" data-customstyle="yes"><span style="font-weight: 400;">零空间地址<br />LAB ZERO</span> <span style="font-weight: 400;">Address</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec28031210" class="r" style="padding-top:15px;padding-bottom:15px; " data-record-type="66">
    <!-- T058 -->
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:16px;line-height:30px;" data-customstyle="yes"><span style="font-weight: 500;">深圳 南山区 南头街道 麻雀岭工业区m10栋4号楼一楼 零空 (LAB ZERO)<br />Shenzhen University metro station (深大 / ShenDa), <br />Exit A3, follow the map directions, we are on the 1st floor</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec28031204" class="r" style="padding-top:15px;padding-bottom:30px; " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">

            <div class="t-col t-col_6 t-prefix_3 t-align_center">
                <img class="t196__img t-img" src="/images/empty-map.png" data-original="/images/map.jpg" imgfield="img" />
                <meta
                    itemprop="image" content="/images/map.jpg">
            </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>


<div id="rec27085268" class="r" style=" " data-record-type="126">
    <!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>