<div id="rec25319716" class="r" style="padding-top:60px;padding-bottom:30px; " data-record-type="180">
    <!-- T165 -->
    <div class="t165">
        <div class="t-container">
            <div class="t165__col-top t-col t-col_4  t165__vmiddle t165__left">
                <div class="t165__textwrapper">
                    <div class="t165__title t-heading t-heading_md" field="title">
                        <div style="font-family:'Open Sans';" data-customstyle="yes"><span style="font-weight: 400;">零空间地址<br />LAB ZERO </span><span style="font-weight: 400;">Address</span></div>
                    </div>
                    <div class="t165__text t-text t-text_sm" field="text">
                        <u></u><span style="font-weight: 500;">深圳 南山区 南头街道 麻雀岭工业区m10栋4号楼一楼 零空间 (LAB ZERO)<br /><br />Shenzhen University metro station (深大 / ShenDa), Exit A3, follow the map directions, we are on the 1st floor</span>                        <br /></div>
                </div>
            </div>
            <div class="t-col t-col_8  t165__vmiddle t165__left">
                <img src="https://static.tildacdn.com/tild3236-3335-4534-a662-303234666463/-/empty/ScreenShot20170726at031546.png" data-original="https://static.tildacdn.com/tild3236-3335-4534-a662-303234666463/ScreenShot20170726at031546.png"
                    imgfiled="img" class="t165__img  t-img" /> </div>
        </div>
    </div>

</div>


<div id="rec27085268" class="r" style=" " data-record-type="126">
    <!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>