<div id="rec25318936" class="r" style="padding-top:30px;padding-bottom:60px; " data-animationappear="off" data-record-type="681">
    <div class="t681">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs " field="btitle">加入我们？<br /><span style="font-weight: 500;">How to become a member?</span></div>
                    <div class="t-section__descr t-descr t-descr_xl t-margin_auto "
                        field="bdescr">来吧，从演示开始，成为会员 <br />Come, start from demo day and become a member <br /></div>
                </div>
            </div>
        </div>

        <div class="t-container">
            <div class="t681__row t-row">
                <div class="t-col t-col_2 t-prefix_2">
                    <div class="t681__title t-heading t-heading_sm" style="text-transform:uppercase;" field="li_title__1493292137724">演示日<br />Demo day</div>
                </div>
                <div class="t-col t-col_6 ">
                    <div class="t681__tablewrapper">
                        <div class="t681__textwrapper">
                            <div class="t681__price t-descr t-descr_sm" style="" field="li_descr__1493292137724">— 在空间中拥有一个临时位置 <br />— 在成员监护下使用工具和机器<br /><br />— A temporary place in the open space<br />—
                                Use the equipment under the supervision of members <br /></div>
                        </div>
                        <div class="t681__pricewrapper">
                            <div class="t681__price t-heading t-heading_sm" style="" field="li_title2__1493292137724">0元</div>
                            <div class="t681__price t-descr t-descr_xxs" style="" field="li_text__1493292137724">有限报价<br />到10月31日<br />Limited offer <br />until October 31</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t681__row t-row">
                <div class="t-col t-col_2 t-prefix_2">
                    <div class="t681__title t-heading t-heading_sm" style="text-transform:uppercase;" field="li_title__1499975868138">客人<br />Guest</div>
                </div>
                <div class="t-col t-col_6 ">
                    <div class="t681__tablewrapper">
                        <div class="t681__textwrapper">
                            <div class="t681__price t-descr t-descr_sm" style="" field="li_descr__1499975868138">— 在空间中拥有一个临时位置<br />— 所有设施：所有机器，工具，打印机等<br />— 从10:00到22:00<br /><br />— A temporary place in
                                the open space<br />— All facilities: all machines, tools, printer, etc.<br />— Access from
                                10:00 till 22:00</div>
                        </div>
                        <div class="t681__pricewrapper">
                            <div class="t681__price t-heading t-heading_sm" style="" field="li_title2__1499975868138">500元</div>
                            <div class="t681__price t-descr t-descr_xxs" style="" field="li_text__1499975868138">每月<br />Per Month<br /><br /><span style="font-size: 28px;"><span style="font-weight: 500;" data-redactor-style="font-weight: 500;"><span style="font-size: 20px;" data-redactor-tag="span">100</span></span>
                                <span
                                    style="font-weight: 600;"><span data-redactor-style="font-size: 20px;" style="font-size: 20px;">元</span></span>
                                    </span><br />每日<br />Per Day<br /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t681__row t-row">
                <div class="t-col t-col_2 t-prefix_2">
                    <div class="t681__title t-heading t-heading_sm" style="text-transform:uppercase;" field="li_title__1493289544768">会员<br />member</div>
                </div>
                <div class="t-col t-col_6 ">
                    <div class="t681__tablewrapper">
                        <div class="t681__textwrapper">
                            <div class="t681__price t-descr t-descr_sm" style="" field="li_descr__1493289544768">— 包括上面的所有东西 <br /> — 永久工作场所 <br /> — 储存空间 <br /> — 全天 访问<br /> — 在会员委员会投票权<br /><br />— Includes
                                all of the above<br />— Permanent workplace<br />— Space for storage<br />— Access 24/7<br
                                />— Right to vote in the members committee<br /></div>
                        </div>
                        <div class="t681__pricewrapper">
                            <div class="t681__price t-heading t-heading_sm" style="" field="li_title2__1493289544768">1000元</div>
                            <div class="t681__price t-descr t-descr_xxs" style="" field="li_text__1493289544768">每月<br />Per Month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


<div id="rec25915332" class="r" style=" " data-record-type="126">
    <!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>