<div id="rec27918718" class="r" style="padding-top:100px;background-color:#000000; " data-record-type="474" data-bg-color="#000000">
  <!-- T474 -->

  <div class="t474">
    <div class="t-container t-align_center">
      <div class="t-col t-col_10 t-prefix_1">
        <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#ffffff;font-size:22px;">
          <div style="font-size:46px;" data-customstyle="yes"><span style="font-weight: 600;">开幕酒会 / LAB ZERO Opening Party</span></div>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="rec25351922" class="r" style="padding-top:0px;padding-bottom:0px;background-color:#000000; " data-record-type="521" data-bg-color="#000000">
  <!-- T521 -->
  <div class="t521">

    <div class="t-container">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "event") }} {{ range $paginator.Pages.ByDate }}

      <div class="t521__row t-row t-clear">
        <div class="t521__leftcol t-col t-col_3 t-prefix_3">
          <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
            <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">{{ .Params.eventDateZH }}<br />{{ .Params.eventDateEN }}</div>
          </div>
        </div>
        <div class="t521__rightcol t-col t-col_4 ">
          <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
            <div style="font-size:20px;font-weight: 600;" data-customstyle="yes">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>


<div id="rec28168838" class="r" style="padding-top:0px;padding-bottom:0px;background-color:#000000; " data-record-type="224" data-bg-color="#000000">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">
            <div class="t-col t-col_4 t-prefix_4 t-align_center"> <img class="t196__img t-img" src="images/tild3930-3730-4466-a530-653836616130__-__empty__noun_1040613_cc.png"
                    data-original="images/tild3930-3730-4466-a530-653836616130__noun_1040613_cc.png" imgfield="img" />
                <meta itemprop="image" content="images/tild3930-3730-4466-a530-653836616130__noun_1040613_cc.png">
            </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>
<div id="rec27915576" class="r" style="padding-top:0px;padding-bottom:15px;background-color:#000000; " data-record-type="474"
    data-bg-color="#000000">
    <!-- T474 -->
    <div class="t474">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#ffffff;font-size:22px;">
                    <div style="font-size:18px;color:#ffffff;" data-customstyle="yes"><br /><span style="font-weight: 400;">LAB ZERO is inviting all people who interesting maker movement in Shenzhen.<br />A new maker spot is opening in Shenzhen. Let's join us!<br />Also Litchee Lab and TechSpace people, all our old friends are warmly welcome!</span><br
                        /></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec28169108" class="r" style="background-color:#000000; " data-record-type="224" data-bg-color="#000000">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">
            <div class="t-col t-col_2 t-prefix_5 t-align_center"> <img class="t196__img t-img" src="images/tild3638-6535-4538-a566-316537336135__-__empty__noun_882138_cc.png"
                    data-original="images/tild3638-6535-4538-a566-316537336135__noun_882138_cc.png" imgfield="img" />
                <meta itemprop="image" content="images/tild3638-6535-4538-a566-316537336135__noun_882138_cc.png">
            </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>

<div id="rec28169108" class="r" style="padding-top:5px;padding-bottom:0px;background-color:#000000; " data-record-type="224" data-bg-color="#000000">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">
            <div class="t-col t-col_2 t-prefix_5 t-align_center"> <img class="t196__img t-img" src="images/empty-wxtuan.png"
                    data-original="images/wxtuan.png" imgfield="img" />
                <meta itemprop="image" content="images/wxtuan.png">
            </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>
<div id="rec27915576" class="r" style="padding-top:0px;padding-bottom:30px;background-color:#000000; " data-record-type="474"
    data-bg-color="#000000">
    <!-- T474 -->
    <div class="t474">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#ffffff;font-size:22px;">
                    <div style="font-size:18px;color:#ffffff;" data-customstyle="yes"><br /><span style="font-weight: 400;">Join our WeChat Opening Party group</span><br
                        /></div>
                </div>
            </div>
        </div>
    </div>
</div>