<div id="rec25332456" class="r" style="padding-top:30px;padding-bottom:30px; " data-animationappear="off" data-record-type="604">

    <div class="t604">
        <div class="t-slds" style="visibility: hidden;">
            <div class="t-container t-slds__main">
                <div class="t-slds__container t-width t-width_10 t-margin_auto">

                    <div class="t-slds__items-wrapper  t-slds_animated-fast t-slds__witharrows" data-slider-transition="300" data-slider-with-cycle="true"
                        data-slider-correct-height="false" data-auto-correct-mobile-width="false" data-slider-arrows-nearpic="yes">
                        <div class="t-slds__item  t-slds__item_active" data-slide-index="1">
                            <div class="t-width t-width_9 t-margin_auto" itemscope itemtype="http://schema.org/ImageObject">
                                <div class="t-slds__wrapper t-align_center">
                                    <meta itemprop="image" content="https://static.tildacdn.com/tild6337-3033-4930-b665-303364363037/1daa4533235a40e4f79db828907ff9f4.jpg">
                                    <div class="t604__imgwrapper" bgimgfield="gi_img__0">
                                        <div class="t-slds__bgimg  t-bgimg" data-original="https://static.tildacdn.com/tild6337-3033-4930-b665-303364363037/1daa4533235a40e4f79db828907ff9f4.jpg"
                                            style="background-image: url('https://static.tildacdn.com/tild6337-3033-4930-b665-303364363037/-/resize/20x/1daa4533235a40e4f79db828907ff9f4.jpg');"></div>
                                        <div class="t604__separator" data-slider-image-width="860" data-slider-image-height="550"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="t-slds__item  " data-slide-index="2">
                            <div class="t-width t-width_9 t-margin_auto" itemscope itemtype="http://schema.org/ImageObject">
                                <div class="t-slds__wrapper t-align_center">
                                    <meta itemprop="image" content="https://static.tildacdn.com/tild6166-3364-4836-b430-383139303366/12715836_10108129898939171_4606711832201324365_o.jpg">
                                    <div class="t604__imgwrapper" bgimgfield="gi_img__1">
                                        <div class="t-slds__bgimg  t-bgimg" data-original="https://static.tildacdn.com/tild6166-3364-4836-b430-383139303366/12715836_10108129898939171_4606711832201324365_o.jpg"
                                            style="background-image: url('https://static.tildacdn.com/tild6166-3364-4836-b430-383139303366/-/resize/20x/12715836_10108129898939171_4606711832201324365_o.jpg');"></div>
                                        <div class="t604__separator" data-slider-image-width="860" data-slider-image-height="550"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="t-slds__item  " data-slide-index="3">
                            <div class="t-width t-width_9 t-margin_auto" itemscope itemtype="http://schema.org/ImageObject">
                                <div class="t-slds__wrapper t-align_center">
                                    <meta itemprop="image" content="https://static.tildacdn.com/tild6563-6330-4732-b838-356634356262/makerspace1.jpg">
                                    <div class="t604__imgwrapper" bgimgfield="gi_img__2">
                                        <div class="t-slds__bgimg  t-bgimg" data-original="https://static.tildacdn.com/tild6563-6330-4732-b838-356634356262/makerspace1.jpg"
                                            style="background-image: url('https://static.tildacdn.com/tild6563-6330-4732-b838-356634356262/-/resize/20x/makerspace1.jpg');"></div>
                                        <div class="t604__separator" data-slider-image-width="860" data-slider-image-height="550"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="t-slds__item  " data-slide-index="4">
                            <div class="t-width t-width_9 t-margin_auto" itemscope itemtype="http://schema.org/ImageObject">
                                <div class="t-slds__wrapper t-align_center">
                                    <meta itemprop="image" content="https://static.tildacdn.com/tild6633-6666-4262-b264-393363616163/HolmanMakerspaceTechShop9.jpg">
                                    <div class="t604__imgwrapper" bgimgfield="gi_img__3">
                                        <div class="t-slds__bgimg  t-bgimg" data-original="https://static.tildacdn.com/tild6633-6666-4262-b264-393363616163/HolmanMakerspaceTechShop9.jpg"
                                            style="background-image: url('https://static.tildacdn.com/tild6633-6666-4262-b264-393363616163/-/resize/20x/HolmanMakerspaceTechShop9.jpg');"></div>
                                        <div class="t604__separator" data-slider-image-width="860" data-slider-image-height="550"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="t-slds__arrow_container   t-slds__arrow-nearpic">



                    <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-left" data-slide-direction="left">
                        <div class="t-slds__arrow t-slds__arrow-left t-slds__arrow-withbg" style="width: 40px; height: 40px;background-color: rgba(232,232,232,1);">
                            <div class="t-slds__arrow_body t-slds__arrow_body-left" style="width: 9px;">
                                <svg style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>Left</desc>
                                    <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 8.5,8.5 0.5,16.5"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="t-slds__arrow_wrapper t-slds__arrow_wrapper-right" data-slide-direction="right">
                        <div class="t-slds__arrow t-slds__arrow-right t-slds__arrow-withbg" style="width: 40px; height: 40px;background-color: rgba(232,232,232,1);">
                            <div class="t-slds__arrow_body t-slds__arrow_body-right" style="width: 9px;">
                                <svg style="display: block" viewBox="0 0 9.3 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>Right</desc>
                                    <polyline fill="none" stroke="#000000" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 8.5,8.5 0.5,16.5"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-slds__bullet_wrapper">

                    <div class="t-slds__bullet t-slds__bullet_active" data-slide-bullet-for="1">
                        <div class="t-slds__bullet_body" style="background-color: #c7c7c7;"></div>
                    </div>

                    <div class="t-slds__bullet " data-slide-bullet-for="2">
                        <div class="t-slds__bullet_body" style="background-color: #c7c7c7;"></div>
                    </div>

                    <div class="t-slds__bullet " data-slide-bullet-for="3">
                        <div class="t-slds__bullet_body" style="background-color: #c7c7c7;"></div>
                    </div>

                    <div class="t-slds__bullet " data-slide-bullet-for="4">
                        <div class="t-slds__bullet_body" style="background-color: #c7c7c7;"></div>
                    </div>
                </div>
                <div class="t-slds__caption__container">
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            t_sldsInit('25332456');
            t604_init('25332456');

            var fireRefreshEventOnWindow = function () {
                var evt = document.createEvent("HTMLEvents");
                evt.initEvent('resize', true, false);
                window.dispatchEvent(evt);
            };
            $('.t604').bind('displayChanged', function () {
                fireRefreshEventOnWindow();
            });
        });

    </script>
    <style type="text/css">
        #rec25332456 .t-slds__bullet_active .t-slds__bullet_body {
            background-color: #222 !important;
        }

        #rec25332456 .t-slds__bullet:hover .t-slds__bullet_body {
            background-color: #222 !important;
        }
    </style>
</div>