<div id="rec27918718" class="r" style="padding-top:45px;padding-bottom:10px;background-color:#ffffff; " data-record-type="474"
data-bg-color="#000">
<div class="t474">
    <div class="t-container t-align_center">
        <div class="t-col t-col_8 t-prefix_2">
            <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#000;">
                <div style="font-size:58px; font-family: Open Sans;font-weight:400;">
                    物联网</br>
                    Internet Of Things</br>
                    黑客马拉松</br>
                    HACKATHON
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div id="rec27823778-1" class="r" style="padding-bottom:0px;" data-record-type="224">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_2 t-prefix_4 t-align_center">
                <a href="https://szdiy.org">
                    <img class="t081__img t-img" src="/images/szdiy.png" style="">
                 </a>
            </div>
            <div class="t-col t-col_2 t-align_center">
                <a href="https://lab0x0.com">
                    <img class="t081__img t-img" src="/images/small-logo.png" style="">
                 </a>
            </div>            
        </div>
    </div>
</div>


<div id="rec27798524" class="r" style="padding-top:30px;padding-bottom:60px;background-color:#ffffff; " data-record-type="60"
    data-bg-color="#000000">
    <div class="t050">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t050__title t-title t-title_xxl" field="title" style="">
                    <div style="font-size:46px;color:#000;font-weight: 300;" data-customstyle="yes">怎么报名？<br />How to register?</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27811738" class="r" style="padding-top:90px;padding-bottom:30px; " data-record-type="510">
        <div class="t510">
            <div class="t-container">
                <div class="t-col t-col_8 t-prefix_4 t-item ">
                    <div class="t-cell t-valign_top">
                        <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">1</div>
                    </div>
                    <div class="t510__textwrapper t-cell t-valign_top" style="">
                        <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">黑客马拉松议程 / Hackathon Agenda</div>
                        <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">
                            Name: "SZDIY • LAB ZERO IoT hackathon"<br/> 
                            Dates: 09.22, Friday — 09.24, Sunday<br/>                        
                            Price: Free to join, no fee.<br/>
                            <br/> 
                            <b>2017.09.22, Friday</b><br/> 
                            20:00 Register all coming people, introduce guests each others <br/>                        
                            20:00 — 21:00 Free discussion between guests, jointing team and choosing projects.<br/> 
                            21:10 Administration announce final list of team and projects.<br/>
                            <br/> 
                            <b>2017.09.23, Saturday</b> <br/> 
                            09:00 — ∞ Working on projects<br/>
                            <br/> 
                            <b>2017.09.24, Sunday</b> <br/> 
                            15:00 Projects Presentation<br/> 
                            17:30 Administration announce
                            the winner.<br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="rec27811746" class="r" style="padding-top:60px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">2</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">扫一扫 / Scan QR</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">入加我们微信聊群<br />Join our WeChat group<br /></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27823778-1" class="r" style="padding-bottom:40px;" data-record-type="224">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_2 t-prefix_5 t-align_center">
                <img class="t196__img t-img" src="/images/lz-szdiy-tuan.png"/>
            </div>
        </div>
    </div>
</div>    



<!-- <div id="rec27815872-1" class="r" style=" ">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="/images/events/reg-1.jpg"/>
            </div>
        </div>
    </div> 
</div>  -->


<div id="rec27811738" class="r" style="padding-top:90px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">3</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">请介绍一下 / Introduce yourself</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">
                        告诉我们你是做什么工作的？<br />
                        Tell us about your work and skills?<br/><br/>
                        — Who are you? <br/>
                        — What will be your role in a team? <br/>
                        — Are you hardware guy, software guy, designer, manager?<br/>
                        — Do you want join to somebody project or you want to offer own project?<br/>
                        — Are you alone or already have a team?<br/>
                        — How much time you you have for Hackathon? <br/>
                        — Will you stay all weekend, only Saturday, etc.<br/>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div id="rec27815872-1" class="r" style=" ">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="/images/events/reg-2.jpg"/>
            </div>
        </div>
    </div> 
</div>  -->


<div id="rec27811738" class="r" style="padding-top:90px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">4</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">9月22日来吧 / Come 09.22</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">
                        选你的团队和项目。<br />
                        Choose your team and project.<br /></div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- 
<div id="rec27815872-1" class="r" style=" ">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="/images/events/reg-3.jpg"/>
            </div>
        </div>
    </div> 
</div> 


<div id="rec27811738" class="r" style="padding-top:90px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">4</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">分享微信海报 / Share WeChat poster</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">帮助我们分享到朋友圈还有发送给你的朋友<br />Share it in Wechat Moments and send to your friends<br /></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27815872-1" class="r" style="padding-bottom:45px; ">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="/images/events/reg-4.jpg"/>
            </div>
        </div>
    </div> 
</div>   -->


<div id="rec27085268" class="r" style=" " data-record-type="126">
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>

<!-- {{ $paginator := .Paginate (where .Site.Pages "Type" "active") 1}} 
{{ range $paginator.Pages.ByDate }} -->

<div id="rec28031224" class="r" style="padding-top:30px;padding-bottom:45px; ">
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_6 t-prefix_3">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg">
                            <div class="reg-date">
                                 🙌</br>  
                                别忘了来</br>  
                                Don't forget</br>   
                                来吧，选你的团队和项目</br>  
                                Come and choose a project</br>                   
                                9月22日星期五</br>
                                Friday, September 22</br>
                                20:00 ~ 21:00</br>
                                 🤓
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rec27085268" class="r" style=" " data-record-type="126">
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>

<!-- <div id="rec25351922" class="r" style="padding-top:60px;padding-bottom:0px;background-color:#000; " data-record-type="521" data-bg-color="#000">
  <div class="t521">
    <div class="t-container">
      <div class="t521__row t-row t-clear">
        <div class="t521__leftcol t-col t-col_3 t-prefix_3">
          <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
            <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">

                {{ $cols := split .Content "+++" }}
                {{ range last 1 (first 1 $cols)}}
                    <div class="date">
                    {{ . | markdownify }}
                    </div>
                 {{ end }} 

            </div>
          </div>
        </div>
        <div class="t521__rightcol t-col t-col_5 ">
          <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
            <div style="font-size:20px;font-weight: 600;" data-customstyle="yes">

              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 2 $cols)}}
                {{ . | markdownify }}
              {{ end }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div id="rec25351922" class="r" style="padding-top:0px;padding-bottom:15px;background-color:#000; " data-record-type="521" data-bg-color="#000">
    <div class="t521">
      <div class="t-container">
        <div class="t521__row t-row t-clear">
          <div class="t521__leftcol t-col t-col_3 t-prefix_3">
            <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
              <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">
  
              </div>
            </div>
          </div>
          <div class="t521__rightcol t-col t-col_5 desc ">
            <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
                <div>  
                {{ $cols := split .Content "+++" }}
                {{ range last 1 (first 5 $cols)}}
                  {{ . | markdownify }}
                {{ end }}  
                </div>  
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>   -->

<!-- <div id="rec25351922" class="r" style="padding-top:0px;padding-bottom:90px;background-color:#000; " data-record-type="521" data-bg-color="#000">
  <div class="t521">
    <div class="t-container">
      <div class="t521__row t-row t-clear">
        <div class="t521__leftcol t-col t-col_3 t-prefix_3">
          <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
            <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">
            
              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 3 $cols)}}
                {{ . | markdownify }}
              {{ end }}  

            </div>
          </div>
        </div>
        <div class="t521__rightcol t-col t-col_5 desc ">
          <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
              <div>  

              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 4 $cols)}}
                {{ . | markdownify }}
              {{ end }}  
              
              </div>  
          </div>
        </div>
      </div>
      </div>
  </div>
</div>           -->


<!-- <div id="rec27823778-1" class="r" style="padding-bottom:5px;background-color:#000;" data-record-type="224">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <div style="color:#ffffff; font-size:20px;padding-bottom:25px; font-family: 'Open Sans',serif; font-weight: 300;">
                    This meetup sponsored by
                </div>   
                <a href="http://makersorigin.com/">
                    <img class="t196__img t-img" src="/images/events/mo.png" width="70%" />
                </a>
            </div>          
        </div>
    </div>
</div>


<div id="rec27823916" class="r" style="padding-top:15px;padding-bottom:80px;background-color:#000; " data-record-type="66">
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_4 t-prefix_4">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="color:#ffffff; font-size:16px;line-height:26px;font-weight: 300;" data-customstyle="yes">
                                Makers Origin is a Shenzhen based hardware accelerator with its own factory and a global retail network of 8710+ point of sales. We help makers on: prototyping, crowd funding, manufacturing and sales distribution.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- {{ end }} -->

<div id="rec28031224" class="r" style="padding-top:85px;padding-bottom:15px; " data-record-type="66">
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_6 t-prefix_3">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:30px;line-height:34px;" data-customstyle="yes"><span style="font-weight: 400;">零空间地址<br />LAB ZERO</span> <span style="font-weight: 400;">Address</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
<div id="rec28031210" class="r" style="padding-top:15px;padding-bottom:15px; " data-record-type="66">
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:16px;line-height:30px;" data-customstyle="yes"><span style="font-weight: 500;">深圳 南山区 南头街道 麻雀岭工业区m10栋4号楼一楼 零空 (LAB ZERO)<br />Shenzhen University metro station (深大 / ShenDa), <br />Exit A3, follow the map directions, we are on the 1st floor</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
<div id="rec28031204" class="r" style="padding-top:15px;padding-bottom:30px; ">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_6 t-prefix_3 t-align_center">
                <img class="t196__img t-img" src="/images/map.jpg"/>
            </div>
        </div>
    </div>
</div>
    


<!-- <div id="rec27823778-1" class="r" style="padding-bottom:0px;" data-record-type="224">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_2 t-prefix_4 t-align_center">
                <div style="font-size:20px;line-height:30px; font-family: 'Open Sans',serif;">
                    捐赠微信支付</br> WeChat
                </div>                
                <img class="t196__img t-img" src="/images/wx-zhifu.jpg" />
            </div>
            <div class="t-col t-col_2 t-align_center">
                <div style="font-size:20px;line-height:30px; font-family: 'Open Sans',serif;">
                    捐赠支付宝</br> Alipay
                </div>                       
                    <img class="t196__img t-img" src="/images/alipay.jpg" />
            </div>            
        </div>
    </div>
</div> -->


<!-- 
<div id="rec27823916" class="r" style="padding-top:30px;padding-bottom:60px; " data-record-type="66">
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_6 t-prefix_3">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:20px;line-height:30px;" data-customstyle="yes">请看一下我们的
                            <a href="https://github.com/lab0x0/lab0x0.com/wiki/Wish-list">
                                <u>愿望清单</u>
                            </a><br />Look at our
                            <a href="https://github.com/lab0x0/lab0x0.com/wiki/Wish-list" style="font-size: 20px; line-height:30px;">
                                <u>Wish List</u>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->