<div id="rec27918718" class="r" style="padding-top:90px;padding-bottom:10px;background-color:#000; " data-record-type="474" data-bg-color="#000">
    <div class="t474">
      <div class="t-container t-align_center">
        <div class="t-col t-col_8 t-prefix_2">
          <div class="t474__descr t-descr t-descr_xxxl t-margin_auto" field="descr" style="color:#ffffff;font-size:22px;">
            <div style="font-size:58px;" data-customstyle="yes">
              <span style="font-weight: 300;">
              LAB ZERO Open Nights
              </span></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  

{{ $paginator := .Paginate (where .Site.Pages "Type" "active") 1}} 
{{ range $paginator.Pages.ByDate }}


<div id="rec25351922" class="r" style="padding-bottom:0px;background-color:#000; " data-record-type="521" data-bg-color="#000">
  <div class="t521">
    <div class="t-container">

      <div class="t521__row t-row t-clear">
        <div class="t521__leftcol t-col t-col_3 t-prefix_3">
          <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
            <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">

               {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 1 $cols)}}
              <div class="date">
                {{ . | markdownify }}
              </div>
              {{ end }} 

            </div>
          </div>
        </div>
        <div class="t521__rightcol t-col t-col_5 ">
          <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
            <div style="font-size:20px;font-weight: 600;" data-customstyle="yes">

              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 2 $cols)}}
                {{ . | markdownify }}
              {{ end }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="rec25351922" class="r" style="padding-top:0px;padding-bottom:100px;background-color:#000; " data-record-type="521" data-bg-color="#000">
  <div class="t521">
    <div class="t-container">
      <div class="t521__row t-row t-clear">
        <div class="t521__leftcol t-col t-col_3 t-prefix_3">
          <div class="t521__time t-name t-name_xl" style="" field="li_date__1477566953166">
            <div class="t521__time t-name t-name_xl" style="color:#ffffff;" field="li_date__1499612886178">
            
              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 3 $cols)}}
                {{ . | markdownify }}
              {{ end }}  

            </div>
          </div>
        </div>
        <div class="t521__rightcol t-col t-col_5 desc ">
          <div class="t521__text t-text t-text_md" style="color:#ffffff;" field="li_text__1477566953166">
              <div>  

              {{ $cols := split .Content "+++" }}
              {{ range last 1 (first 4 $cols)}}
                {{ . | markdownify }}
              {{ end }}  
              
              </div>  
          </div>
        </div>
      </div>
      </div>
  </div>
</div>          


{{ end }}



<div id="rec27085191" class="r" style="padding-top:150px;padding-bottom:15px;background-color:#ffffff; " data-record-type="92">
    <div class="t081">
      <div class="t-container t-align_center">
        <div class="t081__col">
          <a href="https://lab0x0.com">
          <img class="t081__img t-img" src="/images/small-logo-i.png"
            style="max-width: 100px; max-height: 100px;">
          </a>
        </div>
      </div>
    </div>
  </div>
  


<div id="rec27809311" class="r" style=" " data-record-type="215">
    <a name="help" style="font-size:0;"></a>
</div>

<div id="rec27798524" class="r" style="padding-top:0px;padding-bottom:145px;background-color:#ffffff; " data-record-type="60"
    data-bg-color="#000000">
    <!-- T050 -->
    <div class="t050">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t050__title t-title t-title_xxl" field="title" style="">
                    <div style="font-size:46px;color:#000;" data-customstyle="yes">怎么报名？<br />How to register?</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rec27811746" class="r" style="padding-top:80px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">1</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">扫一扫 / Scan QR</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">添加零空间社区管理员<br />Add LAB ZERO community manager<br /></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27823778" class="r" style="padding-bottom:30px;" data-record-type="224">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_2 t-prefix_5 t-align_center">
                    <img class="t196__img t-img" src="/images/qr.jpg"/>
            </div>
        </div>
    </div>
</div>    



<div id="rec27815872" class="r" style=" ">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="/images/events/reg-1.jpg"/>
            </div>
        </div>
    </div> 
</div> 


<div id="rec27811738" class="r" style="padding-top:90px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">2</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">发微信 / Send message</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">想要报名<br />Want to register on meetup<br /></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27815872" class="r" style=" ">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="/images/events/reg-2.jpg"/>
            </div>
        </div>
    </div> 
</div> 



<div id="rec27811738" class="r" style="padding-top:90px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">3</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">秘密微信团 / Get confirmation. You are registred!</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">请扫一扫，发送请求，我们会邀请你。<br />Join our secret group for makers and hakers.<br /></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27815872" class="r" style=" ">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="/images/events/reg-3.jpg"/>
            </div>
        </div>
    </div> 
</div> 




<div id="rec27811738" class="r" style="padding-top:90px;padding-bottom:30px; " data-record-type="510">
    <div class="t510">

        <div class="t-container">

            <div class="t-col t-col_8 t-prefix_4 t-item ">
                <div class="t-cell t-valign_top">
                    <div class="t510__circle t-heading t-valign_top" style=" color:#000000;; border: 2px solid #000000;   ">4</div>
                </div>
                <div class="t510__textwrapper t-cell t-valign_top" style="">
                    <div class="t-name t-name_md t510__bottommargin" style="" field="li_title__1476966593578">秘密微信团 / Help us to share information</div>
                    <div class="t-descr t-descr_sm" style="" field="li_descr__1476966593578">请扫一扫，发送请求，我们会邀请你。添加你的朋友<br />But please don't forget join our group and share the poster<br /></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27815872" class="r" style=" ">
    <div class="t196">
        <div class="t-container">
            <div class="t-col t-col_4 t-prefix_4 t-align_center">
                <img class="t196__img t-img" src="/images/events/reg-4.jpg"/>
            </div>
        </div>
    </div> 
</div> 






<div id="rec27085268" class="r" style=" " data-record-type="126">
        <!-- T118 -->
        <div class="t118">
            <div class="t-container">
                <div class="t-col t-col_12 ">
                    <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
                </div>
            </div>
        </div>
    </div>







<div id="rec28031224" class="r" style="padding-top:45px;padding-bottom:15px; " data-record-type="66">
        <!-- T058 -->
        <div class="t058">
            <div class="t-container">
                <div class="t-row">
                    <div class="t-col t-col_6 t-prefix_3">
                        <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                            <div style="font-size:30px;line-height:34px;" data-customstyle="yes"><span style="font-weight: 400;">零空间地址<br />LAB ZERO</span> <span style="font-weight: 400;">Address</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="rec28031210" class="r" style="padding-top:15px;padding-bottom:15px; " data-record-type="66">
        <!-- T058 -->
        <div class="t058">
            <div class="t-container">
                <div class="t-row">
                    <div class="t-col t-col_8 t-prefix_2">
                        <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                            <div style="font-size:16px;line-height:30px;" data-customstyle="yes"><span style="font-weight: 500;">深圳 南山区 南头街道 麻雀岭工业区m10栋4号楼一楼 零空 (LAB ZERO)<br />Shenzhen University metro station (深大 / ShenDa), <br />Exit A3, follow the map directions, we are on the 1st floor</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="rec28031204" class="r" style="padding-top:15px;padding-bottom:30px; " data-record-type="224">
        <!-- T196 -->
        <div class="t196">
            <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">
    
                <div class="t-col t-col_6 t-prefix_3 t-align_center">
                    <img class="t196__img t-img" src="/images/empty-map.png" data-original="/images/map.jpg" imgfield="img" />
                    <meta
                        itemprop="image" content="/images/map.jpg">
                </div>
                <div class="t-col t-col_2 ">
                    <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
                </div>
            </div>
        </div>
    </div>
    