<div id="rec25190836" class="r" style="padding-top:45px;padding-bottom:90px; " data-record-type="497">
    <!-- t497 -->

    <div class="t497">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs " field="btitle">服务<br /><span style="font-weight: 500;">Services</span></div>
                    <div class="t-section__descr t-descr t-descr_xl t-margin_auto "
                        field="bdescr">
                        <div style="font-size:20px;" data-customstyle="yes">我们向您提供你在中国制造产品所需要的一切。<br />We give you everything you need to build your product in China</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="t497__container t-container">

            <div class="t497__col t-col t-col_5 t-prefix_1 t497__col_first t-item ">
                <div class="t497__item">
                    <div class="t497__textwrapper t-cell t-valign_top">
                        <div class="t497__name t-name t-name_lg" field="li_title__1476973323713" style="">
                            空间，社区，环境<br />Space, community, environment <br /></div>
                        <div class="t497__descr t-descr t-descr_xs"
                            field="li_descr__1476973323713" style="">
                            24/7全天候访问，永久工作空间，会议室，存储空间使用，优秀的工程师辅导<br />24/7 access, permanent workspace, meeting room, space
                            for secure storage and professional engineers ready to help.<br /></div>
                    </div>
                </div>
            </div>

            <div class="t497__col t-col t-col_5   t-item ">
                <div class="t497__item">
                    <div class="t497__textwrapper t-cell t-valign_top">
                        <div class="t497__name t-name t-name_lg" field="li_title__1476973326928" style="">
                            电子工具<br />Tools for making electronics</div>
                        <div class="t497__descr t-descr t-descr_xs" field="li_descr__1476973326928"
                            style="">
                            台式烙铁，热板，数字示波器 ，任意波形发生器，直流电源，台式精密万用表 <br /> Soldering Stations, Hot plate, Oscilloscopes, Signal
                            Generators, Power Supplies, Multimeters<br /></div>
                    </div>
                </div>
            </div>

            <div class="t-clear t497__separator" style="margin-bottom:45px;"></div>
            <div class="t497__col t-col t-col_5 t-prefix_1  t-item ">
                <div class="t497__item">
                    <div class="t497__textwrapper t-cell t-valign_top">
                        <div class="t497__name t-name t-name_lg" field="li_title__1476973352758" style="">
                            硬件初创团队支持<br />Hardware Startups Support <br /></div>
                        <div class="t497__descr t-descr t-descr_xs"
                            field="li_descr__1476973352758" style="">
                            帮助会员选择工厂，并从创意到量产提供全面的指导<br />Help members selecting factories and provide a comprehensive mentoring
                            program from idea to shipping<br /></div>
                    </div>
                </div>
            </div>

            <div class="t497__col t-col t-col_5   t-item ">
                <div class="t497__item">
                    <div class="t497__textwrapper t-cell t-valign_top">
                        <div class="t497__name t-name t-name_lg" field="li_title__1476973363863" style="">
                            <strong><strong data-redactor-tag="strong">快速成型</strong><br /><strong>Rapid Prototyping</strong></strong>
                        </div>
                        <div class="t497__descr t-descr t-descr_xs" field="li_descr__1476973363863" style="">
                            激光切割机，CNC雕刻机，3D打印机，刻绘机，钻床，压机<br />Laser Cutter, CNC, 3D Printer, Vinyl Cutter, Drilling machine,
                            Press machine and all the standard power tools.<br /></div>
                    </div>
                </div>
            </div>

            <div class="t-clear t497__separator" style="margin-bottom:45px;"></div>
            <div class="t497__col t-col t-col_5 t-prefix_1  t-item ">
                <div class="t497__item">
                    <div class="t497__textwrapper t-cell t-valign_top">
                        <div class="t497__name t-name t-name_lg" field="li_title__1476973375188" style="">
                            获取本地服务<br />Accessing Chinese services<br /></div>
                        <div class="t497__descr t-descr t-descr_xs"
                            field="li_descr__1476973375188" style="">
                            学习如何获取本地服务（淘宝，1688.com）比如订购电子元器件，PCB板等<br />Study how to access Chinese services (Taobao, 1688.com,
                            etc) to order hardware components, PCBs, etc</div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>