<div id="rec25914764" class="r" style="padding-top:30px;padding-bottom:45px; " data-record-type="66">
    <!-- T058 -->
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_6 t-prefix_3">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:42px;line-height:50px;" data-customstyle="yes"><span style="font-weight: 600;">团队</span><br /><span style="font-weight: 600;">Team</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27393140" class="r" style="padding-bottom:30px; " data-record-type="31">
    <!-- T016 -->
    <div class="t016">
        <div class="t-container">
            <div class="t-row">
                <div class="t016__col t-col t-col_3">
                    <div class="t016__text t-text t-text_md" field="text">When the view of an image is influenced by the use of lights, position and the </div>
                </div>
                <div class="t016__col t-col t-col_3">
                    <div class="t016__text t-text t-text_md" field="text2">Visual communication takes place through pictures, graphs and charts, as well as </div>
                </div>
                <div class="t016__col t-col t-col_3">
                    <div class="t016__text t-text t-text_md" field="text3">Symbolization is an important definition for this perspective. Cultural perspective involves identity
                        </div>
                </div>
                <div class="t016__col t-col t-col_3">
                    <div class="t016__text t-text t-text_md" field="text4">The view of images in the critical perspective is when the viewers criticise the </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27393056" class="r" style=" " data-record-type="126">
    <!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>