<div id="rec25914764" class="r" style="padding-top:30px;padding-bottom:45px; " data-record-type="66">
    <!-- T058 -->
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_6 t-prefix_3">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:42px;line-height:50px;" data-customstyle="yes"><span style="font-weight: 600;">国际团队</span><br /><span style="font-weight: 600;">International Team</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27393140" class="r" style="padding-bottom:30px; " data-record-type="31">
    <!-- T016 -->
    <div class="t016">
        <div class="t-container">
            <div class="t-row">
                <div class="t016__col t-col t-col_3">
                    <div class="t016__text t-text t-text_md" field="text">
                        🇩🇪 <b>Janek</b>, a German electronics and firmware engineer with more than 10 years of experience in building PCBs, hardware and IoT. He works closely with factories in UK and China to manufacture devices.He is a mentor for some EU hardware startups.
                    </div>
                </div>
                <div class="t016__col t-col t-col_3">
                    <div class="t016__text t-text t-text_md" field="text2">
                         🇷🇺 <b>Alex</b>, a Russian software developer and UI&UX expert with a great experience building websites and managing servers. He has worked in many software projects in Russia and Shenzhen along with some hardware devices development. 
                    </div>
                </div>
                <div class="t016__col t-col t-col_3">
                    <div class="t016__text t-text t-text_md" field="text3">
                        🇯🇴 <b>Abed</b>, a Jordanian computer engineer with experience in building scientific based devices. He has 2 registered patents and holds many certificate, He worked in many projects in Germany, Czech Republic, Estonia and China.
                    </div>
                </div>
                <div class="t016__col t-col t-col_3">
                    <div class="t016__text t-text t-text_md" field="text4">
                        🇨🇳 <b>Zilin</b>, a Chinese mechanical engineer with more than 5 years experience in designing and building CADs. He worked for many Chinese factories and companies developing complicated molds for products.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27393056" class="r" style=" " data-record-type="126">
    <!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>