<div id="rec27826554" class="r" style="padding-top:15px; " data-record-type="224">
    <!-- T196 -->
    <div class="t196">
        <div class="t-container" itemscope itemtype="http://schema.org/ImageObject">

            <div class="t-col t-col_2 t-prefix_5 t-align_center">
                <img class="t196__img t-img" src="images/empty-qr.jpg" data-original="images/qr.jpg"
                    imgfield="img" />
                <meta itemprop="image" content="images/qr.jpg"> </div>
            <div class="t-col t-col_2 ">
                <div class="t196__descr t-descr t-descr_xs" field="title" itemprop="name"></div>
            </div>
        </div>
    </div>
</div>


<div id="rec27826562" class="r" style="padding-top:15px;padding-bottom:15px; " data-record-type="66">
    <!-- T058 -->
    <div class="t058">
        <div class="t-container">
            <div class="t-row">
                <div class="t-col t-col_6 t-prefix_3">
                    <div class="t058__text-impact t-text-impact t-text-impact_lg" field="text">
                        <div style="font-size:20px;line-height:30px;" data-customstyle="yes"><span style="font-size: 26px;">联系我们 / </span><span style="font-weight: 500;"><span data-redactor-style="font-size: 26px;" style="font-size: 26px;">Contact us</span></span><br
                            /><span style="font-weight: 500;"><span data-redactor-style="font-size: 16px;" style="font-size: 16px;">Wechat: targence<br />Email: </span>
                            <span
                                style="font-weight: 500;"><a href="mailto:0xff@lab0x0.com"><span style="font-size: 16px;"><u>0xFF@LAB0x0.COM</u></span></a></span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec27204526" class="r" style=" " data-record-type="126">
    <!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>