<div id="rec27204198" class="r" style=" " data-record-type="531">
    <!-- T531 -->

    <div class="t531">

        <div class="t-container">
            <div class="t531__row" style="">
                <div class="t-col t-col_2 t-prefix_4 t531__leftcol">
                    <div class="t531__imgwrapper t531__imgwrapper_2">
                        <div class="t531__blockimg t-bgimg" bgimgfield="li_img__1478078229569" data-original="images/tild6238-6337-4231-b036-343038633662__photo_20170727_003230.jpg"
                            style="background-image:url('images/tild6238-6337-4231-b036-343038633662__-__resize__20x__photo_20170727_003230.jpg');"
                            data-image-width="160" data-image-height="155"></div>
                    </div>
                </div>
                <div class="t-col t-col_4  t531__rightcol">
                    <div class="t531__textwrapper t-align_left">
                        <div class="t531__content t-valign_middle">
                            <div class="t531__box">
                                <div class="t531__text t-text t-text_sm " field="li_text__1478078229569" style=""><span style="font-weight: 500;"><span style="font-size: 30px;" data-redactor-style="font-size: 30px;">联系我们 /</span></span>
                                    <span style="font-weight: 500;"><span data-redactor-tag="span" style="font-size: 28px;">Contact us</span></span><br
                                    /><span style="font-weight: 500;">Wechat: targence<br />Email: <span style="font-weight: 500;"><a href="mailto:fxf@lab0x0.com" style=""><u>0xFF@LAB0x0.COM</u></a></span><br
                                    /></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <script type="text/javascript">
        var t531_doResize;
        $(window).resize(function () {
            if (t531_doResize) clearTimeout(t531_doResize);
            t531_doResize = setTimeout(function () {
                t531_setHeight('27204198');
            }, 200);
        });
        $(document).ready(function () {
            t531_setHeight('27204198');

        });
    </script>
</div>


<div id="rec27204526" class="r" style=" " data-record-type="126">
    <!-- T118 -->
    <div class="t118">
        <div class="t-container">
            <div class="t-col t-col_12 ">
                <hr class="t118__line" style="background-color:#000000;opacity:0.2;">
            </div>
        </div>
    </div>
</div>